.About {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

table { width: 98%;}

.leftDiv{
  font-family:"inconsolata";min-width: 25%;font-size:18px;font-weight:normal;padding:10px 5px;overflow:hidden;word-break:normal;border-right: 1px solid black;
}
.rightDiv{
  font-family:"inconsolata";width: 75%;font-size:24px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;
}
.tg  {border-collapse:collapse;border-spacing:0;border:none;}
.tg td{font-family:"inconsolata";font-size:18px;padding:5px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}

.resumeBut {
  font-size:18px;
  font-family:"inconsolata";
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
 color: black;
 border: 2px solid #282c34; /* Green */
}

.resumeBut:hover {
  background-color: #282c34; /* Green */
  color: white;
}
