body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skill-container{
  float: center;
    align-items: center;
  display: flex;
  justify-content: center;
  min-height: 65vh;
  background-color: #282c34;
  color: #00FF00;
}

.contact-container{
  float: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.copyright-container{
  float: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.skillText{
  align-items: left;
  background-color: #282c77;
  font-family: "Lucida Console";
}
